.page-container {
  width: 90%; /* Adjust width to make it responsive */
  max-width: 1200px; /* Add a max-width to prevent the container from becoming too wide */
  color: black;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.login-form-container {
  width: 50%;
  align-content: center;
}
.login-page {
  display: flex;
  justify-content: space-between;
}
.login-image-container {
  width: 50%;
  height: 50%;
}
.login-image {
  width: 100%;
  height: 100%;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 100%
  );
}
